<div class="regform">

    <div class="card">
        <div class="card-header text-center">
            <h5>Teacher Registration Form</h5>
        </div>
        <div class="card-body">

            <img src='{{base_url}}/static/images/teacher/{{teacher.teacherid}}.jpg' />
            <br>
            <label for="">Name: </label>
             <input type="text" name="name" class="form-control" placeholder="Enter name" [(ngModel)]='teacher.name'>

            <label for="">ID: </label>
            <input type="number" name="id" id="" class="form-control" [(ngModel)]='teacher.id'>
            

            <label for="">Branch: </label>
            <select [(ngModel)]='teacher.branch'>
                <option *ngFor="let b of branches">{{b}}</option>
            </select>
            <br>
            <label for="">Capture your face: </label><br>
            <!--input type="file" name="image" id=""  (change)="handleFileSelect($event)"><br/-->
            <div class="video-wrap">
              <video id="video" playsinline autoplay></video>
          </div>
          
          <!-- Trigger canvas web API -->
          <div class="controller">
              <button id="snap" (click)='onCapture()' class="btn btn-info btn-block">Capture</button>
          </div>
          <!-- Webcam video snapshot -->
<canvas id="canvas" width="320" height="240"></canvas>

            <div *ngIf='base64textString !== null'>
                Photo captured
            </div>
            <br>
            <button type="button" class="btn btn-primary btn-block" (click)='onUpdate()' >Save</button>
            <br/>
            {{message}}
        </div>


    </div>
</div>