<div>
    <table>
        <tr>
            <td>Title</td>
            <td>Author</td>
            <td>Publisher</td>
        </tr>
        <tr>
            <td>
                <select [(ngModel)]='selectedTitle'>
                    <option *ngFor="let t of titles">{{t}}</option>
                </select>
              
            </td>
            <td><select [(ngModel)]='selectedAuthor'>
                <option *ngFor="let a of authors">{{a}}</option>
            </select>
            </td>
            <td><select [(ngModel)]='selectedPublisher'>
                <option *ngFor="let p of publishers">{{p}}</option>
            </select>
            </td>
           
        </tr>
    </table>
    <button (click)='onSearch()'>Search</button>
</div>

<table border="1">
    <tr>
       
        <th>Title</th>
        <th>Author</th>
        <th>Publisher</th>
        <th>Edition</th>
        <th>Price</th>
    </tr>
    <tr *ngFor="let b of books">
        
        <td><a routerLink='/book-details/{{b.bookid}}'>{{b.booktitle}}</a></td>
        <td>{{b.author}}</td>
        <td>{{b.publisher}}</td>
        <td>{{b.edition}}</td>
        <td>{{b.price}}</td>
    </tr>
</table>