<section style="padding:20px 9% 20px 9%;">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h3>FIND BOOKS</h3>
           
            <div class="flexbox">
                <div class="flex-element">
                    <label>Title :</label>
                </div>
                <div class="flex-element">
                    <input class="form-control" type="text" [(ngModel)]='title'>
                </div>
                <div class="flex-element">
                    <button (click)='onSearch()' class="square_btn">Search</button>
                </div>
            </div>
            
            <p class="result">{{message}}</p>
                   
            <br>
            <table *ngIf='books.length!=0'>
                <tr>
                    <th>Sr. No.</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Publisher</th>
                    <th>Branch</th>
                    <th>Edition</th>
                    <th>Price</th>
                </tr>
                <tr *ngFor="let b of books">
                    <td>{{b.bookid}}</td>
                    <td><a routerLink='/book-details/{{b.bookid}}'>{{b.booktitle}} &rarr;</a></td>
                    <td>{{b.author}}</td>
                    <td>{{b.publisher}}</td>
                    <td>{{b.branch}}</td>
                    <td>{{b.edition}}</td>
                    <td>{{b.price}}</td>
                </tr>
            </table>
        </div>
    </div>
</section>