<section style="padding:20px 12% 20px 12%;">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h3>FIND BOOKS</h3>
            <hr>
            <div class="row">
                <div class="col-sm-2 text-center">
                    <label>Title :</label>
                </div>
                <div class="col-sm-6">
                    <input class="form-control" type="text" [(ngModel)]='title'>
                </div>
                <div class="col-sm-4">
                    <div >
                        <button (click)='onSearch()' class="square_btn">Search</button>
                    </div>
                </div>

            </div>
        
            <br>
            <table class="table table-striped">
                <tr>
                    <th>Sr. No.</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Publisher</th>
                    <th>Branch</th>
                    <th>Edition</th>
                    <th>Price</th>
                </tr>
                <tr *ngFor="let b of books">
                    <td>{{b.bookid}}</td>
                    <td><a routerLink='/book-details/{{b.bookid}}'>{{b.booktitle}}</a></td>
                    <td>{{b.author}}</td>
                    <td>{{b.publisher}}</td>
                    <td>{{b.branch}}</td>
                    <td>{{b.edition}}</td>
                    <td>{{b.price}}</td>
                </tr>
            </table>
        </div>
    </div>
</section>