
@import "../../css/buttons.css";
@import "../../css/main.css";
@import "../../css/notification.css";

.issue{
    padding: 10px;

}
.capture-section{
    display: table;
  margin: auto;
}

.camera{
    border: 12px solid rgb(65, 63, 63);
    margin: 20px;
}

.issue button{
    margin: 0 10px;
}

.cap{
    margin-top: 60%;
}
table{
    margin-bottom: 0;
}


p{
    margin-top: 5px;
    padding-top: 15px;
   
    color: blue;

}