<section style="padding:20px 17% 20px 17%;">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h3>SEARCH TEACHER</h3>

            <div class="row" style="margin: 0 30px;">
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-2">
                            <p>Branch:</p>
                        </div>
                        <div class="col-sm-2 ip">
                            <select [(ngModel)]='selectedBranch'>
                                <option *ngFor="let b of branches">{{b}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="button" class="square_btn" (click)='onSearch()'>Search</button>
            </div>
            <br>
                
<!-- {{teacher}} -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Branch</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let t of teachers">
                        <td>{{t.teacherid}}</td>
                        <td><a routerLink='/update-teacher/{{t.teacherid}}'>{{t.name}}</a></td>
                        <td>{{t.branch}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
