@import "../../css/main.css";
@import "../../css/buttons.css";

.issue{
    padding: 10px;
    
}
.capture-section{
    display: table;
  margin: auto;
}

.camera{
    border: 12px solid rgb(65, 63, 63);
    margin: 20px;
}

.issue> button{
    margin: 0 10px;
}

.cap{
    margin-top: 60%;
}
table{
    margin-bottom: 0;
}
.input-group-append{
    background-image: url(../../assets/img/calendar.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.dates{
    margin: 0 70px;
}