
<div class="regform">
    
    <div class="card">
        <div class="card-header text-center">
          <h5>Student Registration Form</h5> 
        </div>
        <div class="card-body">
            
                <label for="">Name: </label>
                <!--input type="text" name="name" placeholder="Enter name" value='{{name}}'-->
                <!--input type="text" name="name" placeholder="Enter name" [value]='name'-->
                <input type="text" name="name" class="form-control" placeholder="Enter name" [(ngModel)]='name'required>
                
                <label for="">ID: </label>
                <input type="number" name="id" id="" class="form-control" [(ngModel)]='id' placeholder="Enter Enrollment ID" required>
                <label for="">Roll no: </label>
                <input type="number" name="rollnum" id="" class="form-control" [(ngModel)]='rollno' placeholder="Enter Roll No." required>
              <br>
                <!--Branch Dropdown-->
                <select [(ngModel)]='branch' class="selectpicker" data-style="btn-primary" title="Choose Branch" data-width="fit">
                  <option *ngFor="let b of branches">{{b}}</option>
                </select>
                <!--Branch Dropdown end-->
                <p style="display: inline-block; width: 15px;"></p>
                <select [(ngModel)]='class' class="selectpicker" data-style="btn-primary" title="Choose Class" data-width="fit">
                  <option *ngFor="let c of classes">{{c}}</option>
                </select>
                <br>
                <br>
                <label for="">Educational year: </label>
                <input type="text" name="" id="" class="form-control" [(ngModel)]='edyear' placeholder="yyyy-yyyy" required>
                
                <label for="">Image: </label><br>
                <input type="file" name="image" id=""  (change)="handleFileSelect($event)"><br/>
                <div *ngIf='base64textString !== null'>
                    Photo selected
                </div>
                <br>
                <button type="button" class="btn btn-primary btn-block" (click)='onSave()' [disabled]='base64textString === null'>Save</button>
                <br/>
                {{message}}
                </div>
                
        
      </div>
</div>






