<div>
    <label for="">Name:</label>
    <input type="text" name="name" placeholder="Enter name" value='{{name}}'>
    <input type="text" name="name" placeholder="Enter name" [value]='name'>
    <input type="text" name="name" placeholder="Enter name" [(ngModel)]='name'>
    <br/>
    <label for="">ID:</label>
    <input type="number" name="id" id=""><br/>
    <label for="">Branch:</label>
    <input type="text" name="branch" id=""><br/>
    <label for="">Image:</label>
    <input type="file" name="image" id="" (change)="handleFileSelect($event)"><br/>
    <div *ngIf='base64textString !== null'>
        Photo selected
    </div>
</div>

<button (click)='onSave()' [disabled]='base64textString === null'>Save</button>

{{name}}