<div class="main">
    <section style="padding:20px 12% 20px 12%;">

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h3>WELCOME STUDENT</h3>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="sbtn">
                            <button class="square_btn" routerLink='/add-student'>REGISTERATION</button>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="sbtn">
                            <button class="square_btn" routerLink='/search-book'>SEARCH BOOK</button>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="sbtn">
                            <button class="square_btn" routerLink='/issue-book'>ISSUE BOOK</button>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="sbtn">
                            <button class="square_btn" routerLink='/return-book'>RETURN BOOK</button>
                        </div>
                    </div>
                </div>
                
                <hr>
            </div>
        </div>
    </section>
</div>
