<section class="main">
    <div class="container">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="assets/img/librarian.png"  style=" filter: invert(100%); -webkit-filter: invert(100%);">
                    <h3>Librarian</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Visit Our Librarian's Page to add and search book as well as to search student and teacher.</p>
                    <div class="text-center">    
                        <a routerLink='/lib-login'>GO</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="assets/img/student.png"  style=" filter: invert(100%); -webkit-filter: invert(100%);">
                    <h3>Student</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Visit Our Student's Page For Registration, Search Book, Borrowing The Book and Returning The Book.</p>
                    <div class="text-center">
                        <a routerLink='/student'>GO</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="assets/img/teacher.png"  style=" filter: invert(100%); -webkit-filter: invert(100%);">
                    <h3>Teacher</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Visit Our Teacher's Page For Registration, Search Book, Borrowing The Book and Returning The Book.</p>
                    <div class="text-center">
                        <a routerLink='/teacher'>GO</a>
                    </div>    
                </div>
            </div>
        </div>
    </div>



</section>
