<section class="main">
    <div class="container">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="assets/img/librarian.png"  style=" filter: invert(100%); -webkit-filter: invert(100%);">
                    <h3>Librarian</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Visit Our Librarian's Page to add and search book as well as to search student and teacher.</p>
                    <div class="text-center">    
                        <a  data-toggle="modal" data-target="#elegantModalForm">GO</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="assets/img/student.png"  style=" filter: invert(100%); -webkit-filter: invert(100%);">
                    <h3>Student</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Visit Our Student's Page For Registration, Search Book, Borrowing The Book and Returning The Book.</p>
                    <div class="text-center">
                        <a routerLink='/student'>GO</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="assets/img/teacher.png"  style=" filter: invert(100%); -webkit-filter: invert(100%);">
                    <h3>Teacher</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Visit Our Teacher's Page For Registration, Search Book, Borrowing The Book and Returning The Book.</p>
                    <div class="text-center">
                        <a routerLink='/teacher'>GO</a>
                    </div>    
                </div>
            </div>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="elegantModalForm">
  <div class="modal-dialog" style="width: 400px;">
    <!--Content-->
    <div class="modal-content form-elegant" >
      <div class="modal-header text-center" style="padding: 4px;">
        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3"><strong>USER LOGIN</strong></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body ">
        <!--Body-->
        <div class="md-form ">
            <label >Enter Your Email</label>
            <input type="email"  class="form-control ">
        </div>
        <br>
        <div class="md-form ">
            <label>Enter Your Password </label>
            <input type="password"  class="form-control" >
        </div>
        <br>
        <div class="sbtn">
          <button type="button" class="btn btn-block square_btn close"  data-dismiss="modal"><a routerLink='/librarian' style="text-decoration: none;">LOGIN</a></button>
        </div>
       

       
      </div>
      
    </div>
    <!--/.Content-->
  </div>
</div>
<!-- Modal -->


</section>
