<section class="main">
    <div class="container">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="assets/img/librarian.png"  style=" filter: invert(100%); -webkit-filter: invert(100%);">
                    <h3>Librarian</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Librarian can add the books, search the books, update student's and teacher's record, and generate report.</p>
                    <div class="text-center">    
                        <a routerLink='/lib-login'>GO</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="assets/img/student.png"  style=" filter: invert(100%); -webkit-filter: invert(100%);">
                    <h3>Student</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Students have to complete the registration first to borrow the books. Students can search if the required book is available.</p>
                    <div class="text-center">
                        <a routerLink='/student'>GO</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="assets/img/teacher.png"  style=" filter: invert(100%); -webkit-filter: invert(100%);">
                    <h3>Teacher</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Teachers have to complete the registration first to borrow the books. Teachers can search if the required book is available.</p>
                    <div class="text-center">
                        <a routerLink='/teacher'>GO</a>
                    </div>    
                </div>
            </div>
        </div>
    </div>



</section>
