
<div class="regform">
    <div class="box">
    <label for="">Name: </label>
    <!--input type="text" name="name" placeholder="Enter name" value='{{name}}'-->
    <!--input type="text" name="name" placeholder="Enter name" [value]='name'-->
    <input type="text" name="name" placeholder="Enter name" [(ngModel)]='name'>
    <br/><br>
    <label for="">ID: </label>
    <input type="number" name="id" id="" [(ngModel)]='id'><br/><br>
   
    <label for="">Branch: </label>
    <input type="text" name="branch" id="" [(ngModel)]='branch'><br/><br>
    <label for="">Image: </label>
    <input type="file" name="image" id="" (change)="handleFileSelect($event)"><br/><br>
    <div *ngIf='base64textString !== null'>
        Photo selected
    </div>
    <br>
    <button (click)='onSave()' [disabled]='base64textString === null'>Save</button>
    <br/>
    {{message}}
    </div>
</div>




