/* You can add global styles to this file, and also import other style files */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
  
  min-height: 100vh;
}
body {
  box-sizing: border-box;
 min-height: 100vh;
 background-color: rgb(167, 165, 165);
}

