/* You can add global styles to this file, and also import other style files */
html{
    height: 770px;
}

body{
    
height: 770px;
padding: 0;
margin: 0;
  
  
}

.bg{
    background:rgba(0, 0, 0, 0.2);
    height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: crisp-edges;
}