<section style="padding:20px 12% 20px 12%;">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h3>ADD BOOK COPIES</h3>
            <p class="result">{{message}}</p>
            <div class="row">
                <div class="col-sm-8">
                    <table class="table table-striped">
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Publisher</th>
                            <th>Edition</th>
                            <th>Price</th>
                        </tr>
                        <tr *ngFor="let b of books">
                            <td>{{b.booktitle}}</td>
                            <td>{{b.author}}</td>
                            <td>{{b.publisher}}</td>
                            <td>{{b.edition}}</td>
                            <td>{{b.price}}</td>
                        </tr>
                    </table>        
                   
                    <div class="sbtn">
                        <button (click)='findCopies()' class="square_btn">Find Copies</button>
                    </div>
                </div>

                <div class="col-sm-4">
                    <table class="table table-striped" *ngIf="show">
                        <tr>                        
                            <th>Barcode</th>
        
                            <th>Delete Copy</th>
                        </tr>
                        <tr *ngFor="let b of bookcopies">
                            <td>{{b.barcode}}</td>
                            <td class="text-center"><button (click)='deleteCopy(b.bookcopyid)'><img src="../../assets/img/garbage.png" alt="Delete" width="20" height="20"></button></td>
                        </tr>
                    </table>
        
                </div>
            </div>
            
            

            
            <p *ngIf="!flag" class="text-center text-danger">Copies Not Found!...</p>
            
            <p class="text-center" style="font-weight: bold;">Enter Barcode of new copy:</p>

            <!--Barcode scanner-->

            <div class="row ">
                <div class="col-md-5">
                    <div class="capture-section">
                        <video id="video" playsinline autoplay class="camera"></video>
                    </div>
                </div>
        
                <div class="col-md-2 text-center">
                    <div class="cap">
                        <button id="snap" (click)='onCapture()' class="cbtn"  type="button">CAPTURE</button>
                    </div>
                </div>
                
                
                <div class="col-md-5">
                    <div class="capture-section">
                        <canvas id="canvas" width="320" height="240" class="camera"></canvas>
                    </div>
                </div>
            </div>

            
            <div class="sbtn">
                <button (click)='addCopy()' class="square_btn">Add Copy</button>
            </div>
           
           
        </div>
    </div>
</section>