@import "../../css/main.css";
@import "../../css/buttons.css";

.capture-section{
    display: table;
  margin: auto;
}

.camera{
    border: 12px solid rgb(65, 63, 63);
    margin: 20px;
}



.cap{
    margin-top: 60%;
}



