<table border="1">
    <tr>
       
        <th>Title</th>
        <th>Author</th>
        <th>Publisher</th>
        <th>Edition</th>
        <th>Price</th>
    </tr>
    <tr *ngFor="let b of books">
        
        <td>{{b.booktitle}}</td>
        <td>{{b.author}}</td>
        <td>{{b.publisher}}</td>
        <td>{{b.edition}}</td>
        <td>{{b.price}}</td>
    </tr>
</table>

<button (click)='findCopies()'>Find Copies</button>

<table border="1" *ngIf="show">
    <tr>
       
        <th>ID</th>
       
        <th>Barcode</th>

        <th>Delete ?</th>
    </tr>
    <tr *ngFor="let b of bookcopies">
        
        <td>{{b.bookcopyid}}</td>
        <td>{{b.barcode}}</td>
        <td><button (click)='deleteCopy(b.bookcopyid)'>Delete</button></td>
    </tr>
</table>

<p *ngIf="!show">Copies Not Found!...</p>
<br>
<p>Enter Barcode of new copy:</p>
<input type="text" name="" id="" [(ngModel)]='barcode' >
<br>
<button (click)="addCopy()">Add copy</button>
<br>
<p>{{message}}</p>
